/* Дополнительные стили для уменьшения ширины футера */
.footer-container {
    width: 60%; /* Уменьшаем ширину контейнера */
    max-width: 400px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto; /* Центрируем футер на странице */
}

.footer-content {
    font-size: 12px; /* Уменьшаем размер текста внутри футера */
}
