
.navbar-nav-toggle {
    height: 200px;
}

.custom-navbar {
    background-color: rgb(195, 27, 28);
    opacity: 0.95;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.spaced-links .nav-link {
    color: white;
    margin-right: 20px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.spaced-links .nav-link:hover {
    background-color: #e9eaee;
    color: rgb(195, 27, 28);
}

.spaced-links .nav-link:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 10%;
    left: -10px;
}

.spaced-links .nav-link:last-child {
    margin-right: 0;
}
