
.custom-navbar {
    background-color: rgb(195, 27, 28); /* Dark Red (maroon) */
    opacity: 0.95; /* Opacity (lower value = less saturated color) */
    height: 50px;
    font-size: 17px;

}

.spaced-links .nav-link {
    color: white; /* Sets the text color to white for links inside the spaced-links class */
    margin-right: 100px; /* Измените значение, чтобы получить нужный интервал между ссылками */
    height: 50px;
}

.spaced-links .nav-link:hover {
    background-color: #e9eaee; /* Sets the background color to red when hovering over the links */
    color: rgb(195, 27, 28);
}

.spaced-links .nav-link:last-child {
    margin-right: 0; /* Удаляет правый отступ у последней ссылки, чтобы сохранить центрирование */
}

--------------------------------


