.red-border {
    border: 1px solid rgb(195, 27, 28);
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in-card {
    animation: fade-in 2s ease-in-out;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    background: white;
    padding: 20px;
}

.modal-container.active {
    opacity: 1;
}

.fade-in-card {
    animation: fade-in 1s ease-in-out;
    max-width: 1100px;
}

.card-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.card-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.custom-btn {
    color: rgb(195, 27, 28); 
    background-color: white; 
    border: 1px solid rgb(195, 27, 28); 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .custom-btn:hover {
    color: white; 
    background-color: rgb(195, 27, 28); 
  }

  .custom-card {
    animation: fade-in 1s ease-in-out;
    border-radius: 0;
    background-color: white;
  }

.train-label {
    color: gray;
    font-size: 14px;
}


.form-group-container {
    margin-block-end: 10px;
}


.form-label {
    margin-left: 8px;
    margin-block-end: 2px;
}


.form-control-select {
    color: rgb(195, 27, 28);
    background-color: white;
    border: 1px solid rgb(195, 27, 28);
    transition: background-color 0.3s, color 0.3s;
}


.form-control-select.active {
    color: white;
    background-color: rgb(195, 27, 28);
}

.custom-toggle-button-group {
    display: flex;
    width: 100%;
}

.custom-toggle-button {
    width: 50%;
}

